:root {
    --sidebar-width: 150px;
    --page-wrap-max-width: 750px;
}

:root {
    --color-sidebar-bg: #f7f7f7;
    --color-topbar-bg: white;
    --color-topbar-border: #f1f1f1;
    --color-code: #f1f1f1;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

code {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

a.link-img {
    text-decoration: none;
}

.img-hover {
    opacity: 0.5;
}

.img-hover:hover {
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--color-sidebar-bg);
    overscroll-behavior-y: contain;
}

.sidebar-scrollbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    overflow-y: auto;
}

.sidebar-ol {
    list-style-type: none;
    list-style-position: outside;
}

.sidebar-page-ol {
    padding-left: 0;
}

.sidebar-subpage-ol {
    padding-left: 20px;
}

.sidebar-li {
    margin: 10px 0;
    list-style-type: none;
}

.topbar {
    position: sticky;
    top: 0;
    padding: 5px 0;
    background-color: var(--color-topbar-bg);
    border-bottom: 0.5px var(--color-topbar-border) solid;
    z-index: 10;
}

.topbar-item {
    margin: auto 5px;
    display: inline-block;
}

.topbar-button {
    max-width: 24px;
    max-height: 24px;
}

.topbar-title {
    font-size: 24px;
}

.page-wrap {
    margin-left: var(--sidebar-width);
    box-sizing: border-box;
}

.page {
    margin-left: auto;
    margin-right: auto;
    padding: 48px 5px 10px;
    max-width: var(--page-wrap-max-width);
    box-sizing: border-box;
    overflow: auto;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

code.highlighter-rouge {
    background-color: var(--color-code);
    padding: 2px 4px;
    border-radius: 3px;
}

pre.highlight {
    background-color: var(--color-code);
    padding: 12px;
    border-radius: 6px;
}

.prev-next-wrap {
    font-size: 24px;
    display: block;
}

.prev-a {
    float: left;
}

.next-a {
    float: right;
}
